on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/audit@v1
        name: Audit Rust Dependencies
        with:
          file: audit.toml
  check:
    name: Cargo Check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ''
          toolchain: stable
          override: true
      - uses: ./.github/actions/rust-dependencies
      - run: cargo check

  test:
    name: Test Suite
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ''
          toolchain: stable
          override: true
      - uses: ./.github/actions/rust-dependencies
      - name: Setup environment
        run: cp .env.pipeline .env
      - run: cargo test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ''
          toolchain: stable
          override: true
          components: rustfmt
      - uses: ./.github/actions/rust-dependencies
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ''
          toolchain: stable
          override: true
          components: clippy
      - uses: ./.github/actions/rust-dependencies
      - run: cargo clippy --no-deps

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ''
          toolchain: stable
          override: true
      - uses: ./.github/actions/rust-dependencies
      - name: Setup environment
        run: cp .env.pipeline .env
      - name: Generate code coverage
        run: |
          if ! cargo llvm-cov --version; then
            cargo install cargo-llvm-cov
          fi
          cargo llvm-cov --all-features --workspace --summary-only --fail-under-lines=70
